**Задание 1**

Основной инструмент для работы с данными — pandas. Импортируйте эту библиотеку в сокращённой форме — pd.

In [ ]:
# импорт библиотеки pandas
import pandas as pd

**Задание 2**

Прочитайте файл yandex_music_project.csv из папки /datasets и сохраните его в переменной df.

In [ ]:
# загрузим данные
try:
    # попытка прочитать файл из Drive Google
    path = '/content/drive/MyDrive/Colab Notebooks/Обучение/Яндекс Практикум/Аналитик данных (расширенный)/Dataset/'
    df = pd.read_csv(path + 'yandex_music_project.csv')
except FileNotFoundError:
    # если файл не найден, загрузка из URL
    df = pd.read_csv('https://code.s3.yandex.net/datasets/yandex_music_project.csv')

**Задание 3**

Выведите на экран первые десять строк датафрейма df.

In [ ]:
# получение первых 10 строк таблицы df
print(df.head(10))

     userID                        Track            artist   genre  \
0  FFB692EC            Kamigata To Boots  The Mass Missile    rock
1  55204538  Delayed Because of Accident  Andreas Rönnberg    rock
2    20EC38            Funiculì funiculà       Mario Lanza     pop
3  A3DD03C9        Dragons in the Sunset        Fire + Ice    folk
4  E2DC1FAE                  Soul People        Space Echo   dance
5  842029A1                    Преданная         IMPERVTOR  rusrap
6  4CB90AA5                         True      Roman Messer   dance
7  F03E1C1F             Feeling This Way   Polina Griffith   dance
8  8FA1D3BE     И вновь продолжается бой               NaN  ruspop
9  E772D5C0                    Pessimist               NaN   dance

             City        time        Day
0  Saint-Petersburg  20:28:33  Wednesday
1            Moscow  14:07:09     Friday
2  Saint-Petersburg  20:58:07  Wednesday
3  Saint-Petersburg  08:37:09     Monday
4            Moscow  08:34:34     Monday
5  Saint-Petersburg  13:09:41     Friday
6            Moscow  13:00:07  Wednesday
7            Moscow  20:47:49  Wednesday
8            Moscow  09:17:40     Friday
9  Saint-Petersburg  21:20:49  Wednesday

**Задание 4**

Одной командой получите общую информацию о таблице.

In [ ]:
# получение общей информации о данных в таблице df
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 65079 entries, 0 to 65078
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0     userID  65079 non-null  object
 1   Track     63848 non-null  object
 2   artist    57876 non-null  object
 3   genre     63881 non-null  object
 4     City    65079 non-null  object
 5   time      65079 non-null  object
 6   Day       65079 non-null  object
dtypes: object(7)
memory usage: 3.5+ MB

**Задание 5**

*Вопрос со свободной формой ответа*
В названиях колонок видны три нарушения стиля:
1. Строчные буквы сочетаются с прописными.
2. Встречаются пробелы.

Найдите третье нарушение стиля. Напишите ваш ответ в ячейке комментарием. Не удаляйте символ `#`. Не меняйте тип этой ячейки на Markdown.

In [ ]:
# в userID: user не отделен от ID символом "_".

**Задание 6**

Выведите на экран названия столбцов датафрейма df.

In [ ]:
# перечень названий столбцов таблицы df
columns = df.columns
print(columns)

Index(['  userID', 'Track', 'artist', 'genre', '  City  ', 'time', 'Day'], dtype='object')

**Задание 7**

Приведите названия в соответствие с хорошим стилем:
- несколько слов в названии запишите в «змеином_регистре»,
- все символы сделайте строчными,
- устраните пробелы.

Для этого переименуйте колонки так:
- `' userID'` → `'user_id'`;
- `'Track'` → `'track'`;
- `' City '` → `'city'`;
- `'Day'` → `'day'`.

In [ ]:
# переименование столбцов
df = df.rename(columns={'  userID': 'user_id', 'Track': 'track', '  City  ': 'city', 'Day': 'day'})

**Задание 8**

Проверьте результат. Для этого ещё раз выведите на экран названия столбцов датафрейма df.

In [ ]:
# проверка результатов - перечень названий столбцов
columns = df.columns
print(columns)

Index(['user_id', 'track', 'artist', 'genre', 'city', 'time', 'day'], dtype='object')

**Задание 9**

Посчитайте, сколько в каждом из столбцов таблицы пропущенных значений.

In [ ]:
# подсчёт пропусков
print(df.isna().sum())

user_id       0
track      1231
artist     7203
genre      1198
city          0
time          0
day           0
dtype: int64

**Задание 10**

Замените пропущенные значения в столбцах `track`, `artist` и `genre` на строку `'unknown'`. Для этого создайте список `columns_to_replace`, переберите его элементы циклом `for` и для каждого столбца выполните замену пропущенных значений.

In [ ]:
# замена пропущенных значений на 'unknown'
columns_to_replace = ['track', 'artist', 'genre']
for column in columns_to_replace:
    df[column] = df[column].fillna('unknown')

**Задание 11**

Убедитесь, что в таблице не осталось пропусков. Для этого ещё раз посчитайте пропущенные значения.

In [ ]:
# проверка на отсутствие пропусков
print(df.isna().sum())

user_id    0
track      0
artist     0
genre      0
city       0
time       0
day        0
dtype: int64

**Задание 12**

Посчитайте явные дубликаты в таблице одной командой из двух методов, с помощью комбинации методов `duplicated()` и `sum()`.

In [ ]:
# подсчёт явных дубликатов
print(df.duplicated().sum())

3826

**Задание 13**

Вызовите специальный метод `pandas`, чтобы удалить явные строки-дубликаты в данных. В этой же строке вызовите метод, который создаст новые индексы и удалит старые.

*Метод `drop_duplicates()` позволяет удалять явные дубликаты. А метод `reset_index(drop=True)`, вызванный после метода удаления дубликатов, позволит сбросить индексы, удалив старые.*

In [ ]:
# удаление явных дубликатов, создание новых индексов и удаление старых
df = df.drop_duplicates().reset_index(drop=True)

**Задание 14**

Ещё раз посчитайте явные дубликаты в таблице — убедитесь, что полностью от них избавились.

In [ ]:
# проверка на отсутствие явных дубликатов
print(df.duplicated().sum())

0

**Задание 15**

Выведите на экран список уникальных названий жанров, отсортированный в алфавитном порядке. Для этого:
1. извлеките нужный столбец датафрейма;
2. примените к нему метод сортировки из библиотеки `pandas`, используйте сортировку по возрастанию;
3. для отсортированного столбца вызовите метод из библиотеки `pandas`, который вернёт уникальные значения из столбца.

*Используйте методы `unique()` и `sort_values()`.*

In [ ]:
# просмотр уникальных отсортированных названий жанров
genres = df['genre']
sorted_genres = genres.sort_values()
unique_genres = sorted_genres.unique()
print(unique_genres)

['acid' 'acoustic' 'action' 'adult' 'africa' 'afrikaans' 'alternative'
 'alternativepunk' 'ambient' 'americana' 'animated' 'anime' 'arabesk'
 'arabic' 'arena' 'argentinetango' 'art' 'audiobook' 'author' 'avantgarde'
 'axé' 'baile' 'balkan' 'beats' 'bigroom' 'black' 'bluegrass' 'blues'
 'bollywood' 'bossa' 'brazilian' 'breakbeat' 'breaks' 'broadway'
 'cantautori' 'cantopop' 'canzone' 'caribbean' 'caucasian' 'celtic'
 'chamber' 'chanson' 'children' 'chill' 'chinese' 'choral' 'christian'
 'christmas' 'classical' 'classicmetal' 'club' 'colombian' 'comedy'
 'conjazz' 'contemporary' 'country' 'cuban' 'dance' 'dancehall' 'dancepop'
 'dark' 'death' 'deep' 'deutschrock' 'deutschspr' 'dirty' 'disco' 'dnb'
 'documentary' 'downbeat' 'downtempo' 'drum' 'dub' 'dubstep' 'eastern'
 'easy' 'electronic' 'electropop' 'emo' 'entehno' 'epicmetal' 'estrada'
 'ethnic' 'eurofolk' 'european' 'experimental' 'extrememetal' 'fado'
 'fairytail' 'film' 'fitness' 'flamenco' 'folk' 'folklore' 'folkmetal'
 'folkrock' 'folktronica' 'forró' 'frankreich' 'französisch' 'french'
 'funk' 'future' 'gangsta' 'garage' 'german' 'ghazal' 'gitarre' 'glitch'
 'gospel' 'gothic' 'grime' 'grunge' 'gypsy' 'handsup' "hard'n'heavy"
 'hardcore' 'hardstyle' 'hardtechno' 'hip' 'hip-hop' 'hiphop' 'historisch'
 'holiday' 'hop' 'horror' 'house' 'hymn' 'idm' 'independent' 'indian'
 'indie' 'indipop' 'industrial' 'inspirational' 'instrumental'
 'international' 'irish' 'jam' 'japanese' 'jazz' 'jewish' 'jpop' 'jungle'
 'k-pop' 'karadeniz' 'karaoke' 'kayokyoku' 'korean' 'laiko' 'latin'
 'latino' 'leftfield' 'local' 'lounge' 'loungeelectronic' 'lovers'
 'malaysian' 'mandopop' 'marschmusik' 'meditative' 'mediterranean'
 'melodic' 'metal' 'metalcore' 'mexican' 'middle' 'minimal'
 'miscellaneous' 'modern' 'mood' 'mpb' 'muslim' 'native' 'neoklassik'
 'neue' 'new' 'newage' 'newwave' 'nu' 'nujazz' 'numetal' 'oceania' 'old'
 'opera' 'orchestral' 'other' 'piano' 'podcasts' 'pop' 'popdance'
 'popelectronic' 'popeurodance' 'poprussian' 'post' 'posthardcore'
 'postrock' 'power' 'progmetal' 'progressive' 'psychedelic' 'punjabi'
 'punk' 'quebecois' 'ragga' 'ram' 'rancheras' 'rap' 'rave' 'reggae'
 'reggaeton' 'regional' 'relax' 'religious' 'retro' 'rhythm' 'rnb' 'rnr'
 'rock' 'rockabilly' 'rockalternative' 'rockindie' 'rockother' 'romance'
 'roots' 'ruspop' 'rusrap' 'rusrock' 'russian' 'salsa' 'samba' 'scenic'
 'schlager' 'self' 'sertanejo' 'shanson' 'shoegazing' 'showtunes' 'singer'
 'ska' 'skarock' 'slow' 'smooth' 'soft' 'soul' 'soulful' 'sound'
 'soundtrack' 'southern' 'specialty' 'speech' 'spiritual' 'sport'
 'stonerrock' 'surf' 'swing' 'synthpop' 'synthrock' 'sängerportrait'
 'tango' 'tanzorchester' 'taraftar' 'tatar' 'tech' 'techno' 'teen'
 'thrash' 'top' 'traditional' 'tradjazz' 'trance' 'tribal' 'trip'
 'triphop' 'tropical' 'türk' 'türkçe' 'ukrrock' 'unknown' 'urban' 'uzbek'
 'variété' 'vi' 'videogame' 'vocal' 'western' 'world' 'worldbeat' 'ïîï'
 'электроника']

Задание 16

Просмотрите список и найдите неявные дубликаты названия `hiphop`. Это могут быть названия с ошибками или альтернативные названия того же жанра.

Вы увидите следующие неявные дубликаты:
- hip,
- hop,
- hip-hop.

Вам нужно исправить колонку `genre` в таблице `df`: заменить каждое значение из списка дубликатов на верное. Вместо `hip`, `hop` и `hip-hop` в таблице должно быть значение `hiphop`.

*Чтобы очистить от них таблицу, используйте метод `replace()` с двумя аргументами: списком строк-дубликатов (включающий `hip`, `hop` и `hip-hop`) и строкой с правильным значением.*

In [ ]:
# устранение неявных дубликатов
df['genre'] = df['genre'].replace('hip', 'hiphop')
df['genre'] = df['genre'].replace('hop', 'hiphop')
df['genre'] = df['genre'].replace('hip-hop', 'hiphop')

**Задание 17**

Проверьте, что заменили неправильные названия:
- hip,
- hop,
- hip-hop.

Выведите отсортированный по возрастанию список уникальных значений столбца `genre`.

In [ ]:
# проверка на отсутствие неявных дубликатов
genres = df['genre']
sorted_genres = genres.sort_values()
unique_genres = sorted_genres.unique()
print(unique_genres)

['acid' 'acoustic' 'action' 'adult' 'africa' 'afrikaans' 'alternative'
 'alternativepunk' 'ambient' 'americana' 'animated' 'anime' 'arabesk'
 'arabic' 'arena' 'argentinetango' 'art' 'audiobook' 'author' 'avantgarde'
 'axé' 'baile' 'balkan' 'beats' 'bigroom' 'black' 'bluegrass' 'blues'
 'bollywood' 'bossa' 'brazilian' 'breakbeat' 'breaks' 'broadway'
 'cantautori' 'cantopop' 'canzone' 'caribbean' 'caucasian' 'celtic'
 'chamber' 'chanson' 'children' 'chill' 'chinese' 'choral' 'christian'
 'christmas' 'classical' 'classicmetal' 'club' 'colombian' 'comedy'
 'conjazz' 'contemporary' 'country' 'cuban' 'dance' 'dancehall' 'dancepop'
 'dark' 'death' 'deep' 'deutschrock' 'deutschspr' 'dirty' 'disco' 'dnb'
 'documentary' 'downbeat' 'downtempo' 'drum' 'dub' 'dubstep' 'eastern'
 'easy' 'electronic' 'electropop' 'emo' 'entehno' 'epicmetal' 'estrada'
 'ethnic' 'eurofolk' 'european' 'experimental' 'extrememetal' 'fado'
 'fairytail' 'film' 'fitness' 'flamenco' 'folk' 'folklore' 'folkmetal'
 'folkrock' 'folktronica' 'forró' 'frankreich' 'französisch' 'french'
 'funk' 'future' 'gangsta' 'garage' 'german' 'ghazal' 'gitarre' 'glitch'
 'gospel' 'gothic' 'grime' 'grunge' 'gypsy' 'handsup' "hard'n'heavy"
 'hardcore' 'hardstyle' 'hardtechno' 'hiphop' 'historisch' 'holiday'
 'horror' 'house' 'hymn' 'idm' 'independent' 'indian' 'indie' 'indipop'
 'industrial' 'inspirational' 'instrumental' 'international' 'irish' 'jam'
 'japanese' 'jazz' 'jewish' 'jpop' 'jungle' 'k-pop' 'karadeniz' 'karaoke'
 'kayokyoku' 'korean' 'laiko' 'latin' 'latino' 'leftfield' 'local'
 'lounge' 'loungeelectronic' 'lovers' 'malaysian' 'mandopop' 'marschmusik'
 'meditative' 'mediterranean' 'melodic' 'metal' 'metalcore' 'mexican'
 'middle' 'minimal' 'miscellaneous' 'modern' 'mood' 'mpb' 'muslim'
 'native' 'neoklassik' 'neue' 'new' 'newage' 'newwave' 'nu' 'nujazz'
 'numetal' 'oceania' 'old' 'opera' 'orchestral' 'other' 'piano' 'podcasts'
 'pop' 'popdance' 'popelectronic' 'popeurodance' 'poprussian' 'post'
 'posthardcore' 'postrock' 'power' 'progmetal' 'progressive' 'psychedelic'
 'punjabi' 'punk' 'quebecois' 'ragga' 'ram' 'rancheras' 'rap' 'rave'
 'reggae' 'reggaeton' 'regional' 'relax' 'religious' 'retro' 'rhythm'
 'rnb' 'rnr' 'rock' 'rockabilly' 'rockalternative' 'rockindie' 'rockother'
 'romance' 'roots' 'ruspop' 'rusrap' 'rusrock' 'russian' 'salsa' 'samba'
 'scenic' 'schlager' 'self' 'sertanejo' 'shanson' 'shoegazing' 'showtunes'
 'singer' 'ska' 'skarock' 'slow' 'smooth' 'soft' 'soul' 'soulful' 'sound'
 'soundtrack' 'southern' 'specialty' 'speech' 'spiritual' 'sport'
 'stonerrock' 'surf' 'swing' 'synthpop' 'synthrock' 'sängerportrait'
 'tango' 'tanzorchester' 'taraftar' 'tatar' 'tech' 'techno' 'teen'
 'thrash' 'top' 'traditional' 'tradjazz' 'trance' 'tribal' 'trip'
 'triphop' 'tropical' 'türk' 'türkçe' 'ukrrock' 'unknown' 'urban' 'uzbek'
 'variété' 'vi' 'videogame' 'vocal' 'western' 'world' 'worldbeat' 'ïîï'
 'электроника']

**Задание 18**

Для тренировки сначала выполните каждый из расчётов по отдельности.
Оцените активность пользователей в каждом городе. Сгруппируйте данные по городу и посчитайте прослушивания в каждой группе.

*Вам помогут методы `groupby()` и `count()`. После группировки не забудьте выбрать определённый столбец — в результате не должно быть столбцов-дубликатов.*

In [ ]:
# подсчёт прослушиваний в каждом городе
grouped_by_city = df.groupby('city')
city_counts = grouped_by_city['track'].count()
print(city_counts)

city
Moscow              42741
Saint-Petersburg    18512
Name: track, dtype: int64

**Задание 19**

Теперь сгруппируйте данные по дню недели и посчитайте прослушивания в понедельник, среду и пятницу. Учтите, что в данных есть информация о прослушиваниях только за эти дни.

In [ ]:
# подсчёт прослушиваний в каждый из трёх дней
grouped_by_day = df.groupby('day')
day_counts = grouped_by_day['track'].count()
print(day_counts)

day
Friday       21840
Monday       21354
Wednesday    18059
Name: track, dtype: int64

**Задание 20**

Вы видели, как работает группировка по городу и по дням недели. Теперь напишите функцию, которая объединит два эти расчёта. Часть кода уже написана, допишите оставшиеся команды.

Создайте функцию `number_tracks()`, которая посчитает прослушивания для заданного дня и города. Ей понадобятся два параметра:
- день недели,
- название города.

В функции сохраните в переменную строки исходной таблицы, у которых значение:
- в колонке `day` равно параметру `day`,
- в колонке `city` равно параметру `city`.

Для этого примените последовательную фильтрацию с логической индексацией.

Затем посчитайте значения в столбце `user_id` получившейся таблицы. Результат сохраните в новую переменную. Верните эту переменную из функции.

*Подсказка*

Отфильтровать данные по дню и городу поможет последовательная логическая индексация или сложное логическое выражение в логической индексации, если вы с ними уже знакомы. Для подсчёта треков после фильтрации воспользуйтесь методом `count()`. Не забудьте выбрать столбец `user_id`, чтобы избежать столбцов-дубликатов в таблице после подсчёта строк.

In [ ]:
def number_tracks(day, city):
    # выберите только строки df со значением переменной day в столбце day
    track_list = df.loc[df['day'] == day]
    # выберите только строки track_list со значением переменной city в столбце city
    track_list = track_list.loc[track_list['city'] == city]
    # вызовите метод подсчета строк для track_list и выберите столбец user_id
    track_list_count = track_list['user_id'].count()
    # верните значение track_list_count из функции
    return track_list_count

**Задание 21**

Вызовите `number_tracks()` шесть раз, меняя значение параметров — так, чтобы получить данные для каждого города в каждый из трёх дней.

Переберите следующие пары:
- `'Monday', 'Moscow'`
- `'Monday', 'Saint-Petersburg'`
- `'Wednesday', 'Moscow'`
- `'Wednesday', 'Saint-Petersburg'`
- `'Friday', 'Moscow'`
- `'Friday', 'Saint-Petersburg'`

In [ ]:
# количество прослушиваний в Москве по понедельникам
number_tracks('Monday', 'Moscow')

# количество прослушиваний в Санкт-Петербурге по понедельникам
number_tracks('Monday', 'Saint-Petersburg')

# количество прослушиваний в Москве по средам
number_tracks('Wednesday', 'Moscow')

# количество прослушиваний в Санкт-Петербурге по средам
number_tracks('Wednesday', 'Saint-Petersburg')

# количество прослушиваний в Москве по пятницам
number_tracks('Friday', 'Moscow')

# количество прослушиваний в Санкт-Петербурге по пятницам
number_tracks('Friday', 'Saint-Petersburg')

5895

**Задание 22**

С помощью конструктора `pd.DataFrame` создайте таблицу `info`, где:
- названия колонок — `['city', 'monday', 'wednesday', 'friday']`;
- данные — результаты, которые вы получили с помощью `number_tracks`.

In [ ]:
# создание таблицы с результатами
info = pd.DataFrame(data=[['Москва', 15740, 11056, 15945], ['Санкт-Петербург', 5614, 7003, 5895]], columns=['city', 'monday', 'wednesday', 'friday'])
# вывод таблицы на экран
print(info)

              city  monday  wednesday  friday
0           Москва   15740      11056   15945
1  Санкт-Петербург    5614       7003    5895

**Задание 23**

Сохраните таблицы с данными в две переменные:
- по Москве — в `moscow_general`;
- по Санкт-Петербургу — в `spb_general`.

In [ ]:
# получение таблицы moscow_general из тех строк таблицы df, для которых значение в столбце 'city' равно 'Moscow'
moscow_general = df.loc[df['city'] == 'Moscow']

# получение таблицы spb_general из тех строк таблицы df, для которых значение в столбце 'city' равно 'Saint-Petersburg'
spb_general = df.loc[df['city'] == 'Saint-Petersburg']

**Задание 24**

Создайте функцию `genre_weekday()` с четырьмя параметрами:
- таблица (датафрейм) с данными,
- день недели,
- начальная временная метка в формате `'hh:mm'`,
- последняя временная метка в формате `'hh:mm'`.

Функция должна вернуть информацию о топ-10 жанров тех треков, которые прослушивали в указанный день, в промежутке между двумя отметками времени.

Для фильтрации датафрейма воспользуйтесь последовательной логической индексацией или сложными логическими выражениями pandas, если вы уже с ними знакомы. Вам также понадобится группировка и сортировка значений:

In [ ]:
def genre_weekday(df, day, time1, time2):
    # последовательная фильтрация
    # оставляем в genre_df только те строки df, у которых день равен day
    genre_df = df[df['day'] == day]
    # оставляем в genre_df только те строки genre_df, у которых время меньше time2
    genre_df = genre_df[genre_df['time'] < time2]
    # оставляем в genre_df только те строки genre_df, у которых время больше time1
    genre_df = genre_df[genre_df['time'] > time1]
    # сгруппируем отфильтрованный датафрейм по столбцу с названиями жанров, возьмём столбец genre и посчитаем кол-во строк для каждого жанра методом count()
    genre_df_grouped = genre_df.groupby('genre')['genre'].count()
    # отсортируем результат по убыванию (чтобы в начале Series оказались самые популярные жанры)
    genre_df_sorted = genre_df_grouped.sort_values(ascending=False)
    # вернём Series с 10 самыми популярными жанрами в указанный отрезок времени заданного дня
    return genre_df_sorted[:10]

**Задание 25**

Сравните результаты функции `genre_weekday()` для Москвы и Санкт-Петербурга в понедельник утром (с 7:00 до 11:00) и в пятницу вечером (с 17:00 до 23:00). Объекты, хранящие время, являются строками и сравниваются как строки — оставим это как есть.

*Пример вызова*: `genre_weekday(moscow_general, 'Monday', '07:00', '11:00')`

In [ ]:
# вызов функции для утра понедельника в Москве (вместо df — таблица moscow_general)
genre_weekday(moscow_general, 'Monday', '07:00', '11:00')

# вызов функции для утра понедельника в Петербурге (вместо df — таблица spb_general)
genre_weekday(spb_general, 'Monday', '07:00', '11:00')

# вызов функции для вечера пятницы в Москве
genre_weekday(moscow_general, 'Friday', '17:00', '23:00')

# вызов функции для вечера пятницы в Петербурге
genre_weekday(spb_general, 'Friday', '17:00', '23:00')

genre
pop            256
electronic     216
rock           216
dance          210
hiphop          97
alternative     63
jazz            61
classical       60
rusrap          59
world           54
Name: genre, dtype: int64

**Задание 26**

Сгруппируйте таблицу `moscow_general` по жанру и посчитайте прослушивания треков каждого жанра методом `count()`. Чтобы избежать дублирующих вычислений, выберите столбец `genre` . Затем отсортируйте результат в порядке убывания и сохраните его в таблице `moscow_genres`.

Группировка таблицы moscow_general по столбцу 'genre', выбор столбца `genre`, подсчёт числа значений 'genre' методом count(), сохранение в moscow_genres:

In [ ]:
moscow_genres = moscow_general.groupby('genre')['genre'].count()

Сортировка получившегося Series в порядке убывания и сохранение обратно в moscow_genres:

In [ ]:
moscow_genres = moscow_genres.sort_values(ascending=False)

**Задание 27**

Выведите на экран первые десять строк `moscow_genres`.

In [ ]:
# просмотр первых 10 строк moscow_genres
print(moscow_genres.head(10))

genre
pop            5892
dance          4435
rock           3965
electronic     3786
hiphop         2096
classical      1616
world          1432
alternative    1379
ruspop         1372
rusrap         1161
Name: genre, dtype: int64

**Задание 28**

Теперь повторите то же и для Петербурга.

Сгруппируйте таблицу `spb_general` по жанру. Посчитайте прослушивания треков каждого жанра. Результат отсортируйте в порядке убывания и сохраните в таблице `spb_genres`.

In [ ]:
spb_genres = spb_general.groupby('genre')['genre'].count()
spb_genres = spb_genres.sort_values(ascending=False)

**Задание 29**

Выведите на экран первые десять строк `spb_genres`.

In [ ]:
# просмотр первых 10 строк spb_genres
print(spb_genres.head(10))

genre
pop            2431
dance          1932
rock           1879
electronic     1736
hiphop          960
alternative     649
classical       646
rusrap          564
ruspop          538
world           515
Name: genre, dtype: int64