# Исследование надежности заемщиков

## Шаг 1. Откройте таблицу и изучите общую информацию о данных

**Задание 1. Импортируйте библиотеку pandas. Считайте данные из csv-файла в датафрейм и сохраните в переменную `data`.**

In [1]:
# Импорт библиотеки pandas
import pandas as pd

In [2]:
# загрузим данные
try:
    # попытка прочитать файл из Drive Google
    path = '/content/drive/MyDrive/Colab Notebooks/Обучение/Яндекс Практикум/Аналитик данных (расширенный)/Dataset/'
    data = pd.read_csv(path + 'data.csv')
except FileNotFoundError:
    # если файл не найден, загрузка из URL
    data = pd.read_csv('https://code.s3.yandex.net/datasets/data.csv')

**Задание 2. Выведите первые 20 строчек датафрейма `data` на экран.**

In [3]:
# Вывод первых 20 строк датафрейма
data.head(20)

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose
0,1,-8437.673028,42,высшее,0,женат / замужем,0,F,сотрудник,0,253875.639453,покупка жилья
1,1,-4024.803754,36,среднее,1,женат / замужем,0,F,сотрудник,0,112080.014102,приобретение автомобиля
2,0,-5623.422610,33,Среднее,1,женат / замужем,0,M,сотрудник,0,145885.952297,покупка жилья
3,3,-4124.747207,32,среднее,1,женат / замужем,0,M,сотрудник,0,267628.550329,дополнительное образование
4,0,340266.072047,53,среднее,1,гражданский брак,1,F,пенсионер,0,158616.077870,сыграть свадьбу
5,0,-926.185831,27,высшее,0,гражданский брак,1,M,компаньон,0,255763.565419,покупка жилья
6,0,-2879.202052,43,высшее,0,женат / замужем,0,F,компаньон,0,240525.971920,операции с жильем
7,0,-152.779569,50,СРЕДНЕЕ,1,женат / замужем,0,M,сотрудник,0,135823.934197,образование
8,2,-6929.865299,35,ВЫСШЕЕ,0,гражданский брак,1,F,сотрудник,0,95856.832424,на проведение свадьбы
9,0,-2188.756445,41,среднее,1,женат / замужем,0,M,сотрудник,0,144425.938277,покупка жилья для семьи
10,2,-4171.483647,36,высшее,0,женат / замужем,0,M,компаньон,0,113943.491460,покупка недвижимости
11,0,-792.701887,40,среднее,1,женат / замужем,0,F,сотрудник,0,77069.234271,покупка коммерческой недвижимости
12,0,NaN,65,среднее,1,гражданский брак,1,M,пенсионер,0,NaN,сыграть свадьбу
13,0,-1846.641941,54,неоконченное высшее,2,женат / замужем,0,F,сотрудник,0,130458.228857,приобретение автомобиля
14,0,-1844.956182,56,высшее,0,гражданский брак,1,F,компаньон,1,165127.911772,покупка жилой недвижимости
15,1,-972.364419,26,среднее,1,женат / замужем,0,F,сотрудник,0,116820.904450,строительство собственной недвижимости
16,0,-1719.934226,35,среднее,1,женат / замужем,0,F,сотрудник,0,289202.704229,недвижимость
17,0,-2369.999720,33,высшее,0,гражданский брак,1,M,сотрудник,0,90410.586745,строительство недвижимости
18,0,400281.136913,53,среднее,1,вдовец / вдова,2,F,пенсионер,0,56823.777243,на покупку подержанного автомобиля
19,0,-10038.818549,48,СРЕДНЕЕ,1,в разводе,3,F,сотрудник,0,242831.107982,на покупку своего автомобиля

**Задание 3. Выведите основную информацию о датафрейме с помощью метода `info()`.**

In [4]:
# Вывод основной информации о датафрейма
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21525 entries, 0 to 21524
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   children          21525 non-null  int64
 1   days_employed     19351 non-null  float64
 2   dob_years         21525 non-null  int64
 3   education         21525 non-null  object
 4   education_id      21525 non-null  int64
 5   family_status     21525 non-null  object
 6   family_status_id  21525 non-null  int64
 7   gender            21525 non-null  object
 8   income_type       21525 non-null  object
 9   debt              21525 non-null  int64
 10  total_income      19351 non-null  float64
 11  purpose           21525 non-null  object
dtypes: float64(2), int64(5), object(5)
memory usage: 2.0+ MB

## Шаг 2. Предобработка данных

### Удаление пропусков

**Задание 4. Выведите количество пропущенных значений для каждого столбца. Используйте комбинацию двух методов.**

In [5]:
# Подсчет количества пропущенных значений для каждого столбца
missing_values = data.isnull().sum()
missing_values

children               0
days_employed       2174
dob_years              0
education              0
education_id           0
family_status          0
family_status_id       0
gender                 0
income_type            0
debt                   0
total_income        2174
purpose                0
dtype: int64

**Задание 5. В двух столбцах есть пропущенные значения. Один из них — `days_employed`. Пропуски в этом столбце вы обработаете на следующем этапе. Другой столбец с пропущенными значениями — `total_income` — хранит данные о доходах. На сумму дохода сильнее всего влияет тип занятости, поэтому заполнить пропуски в этом столбце нужно медианным значением по каждому типу из столбца `income_type`. Например, у человека с типом занятости `сотрудник` пропуск в столбце `total_income` должен быть заполнен медианным доходом среди всех записей с тем же типом.**

In [6]:
# Замена пропусков в столбце 'total_income' медианными значениями по 'income_type'
for income in data['income_type'].unique():
	data.loc[(data['income_type'] == income) & (data['total_income'].isna()), 'total_income'] = \
    data.loc[(data['income_type'] == income), 'total_income'].median()

### Обработка аномальных значений

**Задание 6. В данных могут встречаться артефакты (аномалии) — значения, которые не отражают действительность и появились по какой-то ошибке. Таким артефактом будет отрицательное количество дней трудового стажа в столбце `days_employed`. Для реальных данных это нормально. Обработайте значения в этом столбце: замените все отрицательные значения положительными с помощью метода `abs()`.**

In [7]:
# Замена отрицательных значений положительными, в столбце 'days_employed'
data['days_employed'] = data['days_employed'].abs()

**Задание 7. Для каждого типа занятости выведите медианное значение трудового стажа `days_employed` в днях.**

In [8]:
# Вывод медианного значение трудового стажа для каждого типа занятости
median_days_employed = data.groupby('income_type')['days_employed'].median()
median_days_employed

income_type
безработный        366413.652744
в декрете            3296.759962
госслужащий          2689.368353
компаньон            1547.382223
пенсионер          365213.306266
предприниматель       520.848083
сотрудник            1574.202821
студент               578.751554
Name: days_employed, dtype: float64

У двух типов (безработные и пенсионеры) получатся аномально большие значения. Исправить такие значения сложно, поэтому оставьте их как есть.

**Задание 8. Выведите перечень уникальных значений столбца `children`.**

In [9]:
# Вывод уникальных значений столбца 'children'
data['children'].unique()

array([ 1,  0,  3,  2, -1,  4, 20,  5])

**Задание 9. В столбце `children` есть два аномальных значения. Удалите строки, в которых встречаются такие аномальные значения из датафрейма `data`.**

In [10]:
# Исключение строк с аномальными значениями
data = data.loc[(data['children'] != -1) & (data['children'] !=20)]

**Задание 10. Ещё раз выведите перечень уникальных значений столбца `children`, чтобы убедиться, что артефакты удалены.**

In [11]:
# Вывод уникальных значений столбца 'children'
data['children'].unique()

array([1, 0, 3, 2, 4, 5])

### Удаление пропусков (продолжение)

**Задание 11. Заполните пропуски в столбце `days_employed` медианными значениями по каждому типу занятости `income_type`.**

In [12]:
# Замена пропусков в столбце 'days_employed' медианными значениями по 'income_type'
for income in data['income_type'].unique():
	data.loc[(data['income_type'] == income) & (data['days_employed'].isna()), 'days_employed'] = \
    data.loc[(data['income_type'] == income), 'days_employed'].median()

**Задание 12. Убедитесь, что все пропуски заполнены. Проверьте себя и ещё раз выведите количество пропущенных значений для каждого столбца с помощью двух методов.**

In [13]:
# Подсчет количества пропущенных значений для каждого столбца
missing_values = data.isnull().sum()
missing_values

children            0
days_employed       0
dob_years           0
education           0
education_id        0
family_status       0
family_status_id    0
gender              0
income_type         0
debt                0
total_income        0
purpose             0
dtype: int64

### Изменение типов данных

**Задание 13. Замените вещественный тип данных в столбце `total_income` на целочисленный с помощью метода `astype()`.**

In [14]:
# Замена типа данных в столбце 'total_income' на integer (целочисленный)
data['total_income'] = data['total_income'].astype('int')

### Обработка дубликатов

**Задание 14. Обработайте неявные дубликаты в столбце `education`. В этом столбце есть одни и те же значения, но записанные по-разному: с использованием заглавных и строчных букв. Приведите их к нижнему регистру.**

In [15]:
# Перевод строк столбца 'education' в нижний регистр
data['education'] = data['education'].str.lower()

**Задание 15. Выведите на экран количество строк-дубликатов в данных. Если такие строки присутствуют, удалите их.**

In [16]:
# Подсчет дубликатов
data.duplicated().sum()

71

In [17]:
# Удаление дубликатов
data = data.drop_duplicates()

### Категоризация данных

**Задание 16. На основании диапазонов, указанных ниже, создайте в датафрейме `data` столбец `total_income_category` с категориями:**

- 0–30000 — `'E'`;
- 30001–50000 — `'D'`;
- 50001–200000 — `'C'`;
- 200001–1000000 — `'B'`;
- 1000001 и выше — `'A'`.


**Например, кредитополучателю с доходом 25000 нужно назначить категорию `'E'`, а клиенту, получающему 235000, — `'B'`. Используйте собственную функцию с именем `categorize_income()` и метод `apply()`.**

In [18]:
# Создание функции для присвоения категорий кредитополучателям
def categorize_income(total_income):
    if total_income <= 30000:
        return 'E'
    if 30001 <= total_income <= 50000:
        return 'D'
    if 50001 <= total_income <= 200000:
        return 'C'
    if 200001 <= total_income <= 1000000:
        return 'B'
    return 'A'

In [19]:
# Применение функции и создание столбца с категориями кредитополучателей
data['total_income_category'] = data['total_income'].apply(categorize_income)

**Задание 17. Выведите на экран перечень уникальных целей взятия кредита из столбца `purpose`.**

In [20]:
# Вывод перечня уникальных целей взятия кредита
data['purpose'].unique()

array(['покупка жилья', 'приобретение автомобиля',
       'дополнительное образование', 'сыграть свадьбу',
       'операции с жильем', 'образование', 'на проведение свадьбы',
       'покупка жилья для семьи', 'покупка недвижимости',
       'покупка коммерческой недвижимости', 'покупка жилой недвижимости',
       'строительство собственной недвижимости', 'недвижимость',
       'строительство недвижимости', 'на покупку подержанного автомобиля',
       'на покупку своего автомобиля',
       'операции с коммерческой недвижимостью',
       'строительство жилой недвижимости', 'жилье',
       'операции со своей недвижимостью', 'автомобили',
       'заняться образованием', 'сделка с подержанным автомобилем',
       'получение образования', 'автомобиль', 'свадьба',
       'получение дополнительного образования', 'покупка своего жилья',
       'операции с недвижимостью', 'получение высшего образования',
       'свой автомобиль', 'сделка с автомобилем',
       'профильное образование', 'высшее образование',
       'покупка жилья для сдачи', 'на покупку автомобиля', 'ремонт жилью',
       'заняться высшим образованием'], dtype=object)

**Задание 18. Создайте функцию, которая на основании данных из столбца `purpose` сформирует новый столбец `purpose_category`, в который войдут следующие категории:**

- `'операции с автомобилем'`,
- `'операции с недвижимостью'`,
- `'проведение свадьбы'`,
- `'получение образования'`.

**Например, если в столбце `purpose` находится подстрока `'на покупку автомобиля'`, то в столбце `purpose_category` должна появиться строка `'операции с автомобилем'`.**

**Используйте собственную функцию с именем `categorize_purpose()` и метод `apply()`. Изучите данные в столбце `purpose` и определите, какие подстроки помогут вам правильно определить категорию.**

In [21]:
# Создание функции для присвоения категорий целей взятия кредита
def categorize_purpose(purpose):
    if 'авто' in purpose:
        return 'операции с автомобилем'
    if 'жил' in purpose or 'недвиж' in purpose:
        return 'операции с недвижимостью'
    if 'свадьб' in purpose:
        return 'проведение свадьбы'
    if 'образован' in purpose:
        return 'получение образования'

In [22]:
# Применение функции и создание столбца с категориями целей взятия кредита
data['purpose_category'] = data['purpose'].apply(categorize_purpose)

## Шаг 3. Исследуйте данные и ответьте на вопросы

### 3.1 Есть ли зависимость между количеством детей и возвратом кредита в срок?

In [23]:
# Создание сводной таблицы для подсчета количества должников и клиентов по количеству детей
data_pivot = data.pivot_table(index='children', values='debt', aggfunc=['count', 'sum'])

In [24]:
# Рассчет процента должников и добавление его в таблицу
data_pivot['%_debt'] = (data_pivot[('sum', 'debt')] / data_pivot[('count', 'debt')]) * 100

In [25]:
# Вывод сводной таблицы на экран
data_pivot

          count   sum    %_debt
           debt  debt
children
0         14091  1063  7.543822
1          4808   444  9.234609
2          2052   194  9.454191
3           330    27  8.181818
4            41     4  9.756098
5             9     0  0.000000

**Вывод:** Наблюдается тенденция к незначительному росту доли должников с увеличением количества детей.

### 3.2 Есть ли зависимость между семейным положением и возвратом кредита в срок?

In [26]:
# Создание сводной таблицы для подсчета количества должников и клиентов в зависимости от семейного положения
data_pivot = data.pivot_table(index='family_status', values='debt', aggfunc=['count', 'sum'])

In [27]:
# Рассчет процента должников и добавление его в таблицу
data_pivot['%_debt'] = (data_pivot[('sum', 'debt')] / data_pivot[('count', 'debt')]) * 100

In [28]:
# Вывод сводной таблицы на экран
data_pivot

                       count  sum    %_debt
                        debt debt
family_status
Не женат / не замужем   2796  273  9.763948
в разводе               1189   84  7.064760
вдовец / вдова           951   63  6.624606
гражданский брак        4134  385  9.313014
женат / замужем        12261  927  7.560558

**Вывод:** Клиенты со статусом 'гражданский брак' и 'Не женат / не замужем' имеют более высокий процент должников. Таким образом люди, когда-либо состоявшие в браке, в среднем, лучше возвращают кредиты.

### 3.3 Есть ли зависимость между уровнем дохода и возвратом кредита в срок?

In [29]:
# Создание сводной таблицы для подсчета количества должников и клиентов в зависимости от уровня дохода
data_pivot = data.pivot_table(index='total_income_category', values='debt', aggfunc=['count', 'sum'])

In [30]:
# Рассчет процента должников и добавление его в таблицу
data_pivot['%_debt'] = (data_pivot[('sum', 'debt')] / data_pivot[('count', 'debt')]) * 100

In [31]:
# Вывод сводной таблицы на экран
data_pivot

                       count   sum    %_debt
                        debt  debt
total_income_category
A                         25     2  8.000000
B                       5014   354  7.060231
C                      15921  1353  8.498210
D                        349    21  6.017192
E                         22     2  9.090909

**Вывод:** Клиенты, с низким (Е) и срединим (С) уровнем доходов имеют наибольшее количество просрочек.

### 3.4 Как разные цели кредита влияют на его возврат в срок?

In [32]:
# Создание сводной таблицы для подсчета количества должников и клиентов в зависимости от цели кредита
data_pivot = data.pivot_table(index='purpose_category', values='debt', aggfunc=['count', 'sum'])

In [33]:
# Рассчет процента должников и добавление его в таблицу
data_pivot['%_debt'] = (data_pivot[('sum', 'debt')] / data_pivot[('count', 'debt')]) * 100

In [34]:
# Вывод сводной таблицы на экран
data_pivot

                          count  sum    %_debt
                           debt debt
purpose_category
операции с автомобилем     4279  400  9.347978
операции с недвижимостью  10751  780  7.255139
получение образования      3988  369  9.252758
проведение свадьбы         2313  183  7.911803

**Вывод:** Больше всего подвержены риску просрочки, кредиты связанные с образованием и операциями с автомобилями.

### 3.5 Приведите возможные причины появления пропусков в исходных данных.

*Ответ:* Данные могут быть пропущены по факту отсутствия информации - клиент может не указать свой трудовой стаж или доход в анкете. Проблемы при обновлении, выгрузке или хранении, могут также привести к их потере или повреждению.

### 3.6 Объясните, почему заполнить пропуски медианным значением — лучшее решение для количественных переменных.

*Ответ:* Заполнение пропусков медианным значением лучшее, потому что медиана это среднее значение, которое не зависит от выдающихся чисел в данных.

## Шаг 4. Общий вывод.

На этапе предобработки данных были выявлены следующие проблемы:
- Отрицательные значения в столбце 'общий трудовой стаж в днях' (days_employed). Все отрицательные значения в этом стобце были заменены положительными.
- Пропуски в столбцах 'ежемесячный доход' (total_income) и 'общий трудовой стаж в днях' (days_employed). Все пропуски были заполены медианными значениями.
- Аномальные занчения в стобце 'количество детей в семье' (children). Строки с аномальными значениями были удалены.

Также вещественный тип данных в столбце 'ежемесячный доход' (total_income) был заменен на целочисленный. Обработаны дубликаты в столбце 'уровень образования клиента' (education).

Проведена категоризация данных по диапозонам из столбца 'ежемесячный доход' (total_income) и перечня уникальных целей взятия кредита из столбца 'цель получения кредита' (purpose).

При исследовании данных получены результаты:
- Наблюдается рост доли должников с увеличением количества детей в семье.
- Клиенты не состоящие в официально узаконенных отношениях ранее и момент проведения иследования, имеют более высокий процент должников.
- Клиенты, с низким (до 30.000 руб) и срединим (от 50.000 руб до 200.000 руб) уровнем доходов имеют наибольшее количество просрочек.
- Кредиты взятые на образование и операциями с автомобилями более всего подвержены риску просрочки.